# Ignora la carpeta node_modules
node_modules

# Ignora el archivo README
README.md 

# Ignora los archivos package-lock.json y package.json

package-lock.json
package.json

# Ignora la carpeta screenchots

screenshots
